.comp_card {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 350px;
  padding: 25px;
  border: 1px solid lightgray;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.comp_card__identity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
}

.comp_card__identity__name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.comp_card__identity__age {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: gray;
}

.comp_card__identity__location {
  font-size: 1rem;
  color: gray;
}

.comp_card__carousel_controls {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.comp_card__carousel_controls button {
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  fill: black;
  font-size: 20px;
  background-color: transparent;
}

.comp_card__carousel {
  border-radius: 8px;
  overflow: hidden;
}

.comp_card__carousel__image {
  aspect-ratio: 5/7;
  cursor: pointer;
}

.comp_card__carousel__image:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}

.comp_card__carousel__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.comp_card__bio_info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
  margin-top: 1rem;
  font-size: small;
}

.comp_card_button {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 4px;
  width: fit-content;
  font-size: 1rem;
  margin-bottom: 10px;
  padding: 0.3rem 0.8rem;
}
